a {
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
}

.is_active {
    color: red;
    border: 1px solid red;
}
/**
 * Created By : Sangwin Gawande (https://sangw.in)
 */